# plot library
matplotlib
seaborn

# for chinese words
wcwidth

# data processing
pandas
numpy

# machine learning
setuptools
# This is includes needed packages: torch, torchvision
# Ref. https://stackoverflow.com/questions/63008040/how-to-use-amd-gpu-for-fastai-pytorch
torch-directml
# torch
# torchvision
pytorch-fid
pytorch-ignite

# This is includes needed packages: tensorflow, keras
tensorflow-directml-plugin

# tensorflow
# keras
# tensorflow-datasets

scikit-learn

# for jupyter notebook
ipywidgets
jupyter

# sequence processing
nltk

# hugging face
datasets
transformers

# image processing
pillow
