matplotlib
seaborn

wcwidth
pandas
numpy
setuptools
torch
torchvision


# This is includes needed packages: tensorflow, keras
tensorflow-directml-plugin

# tensorflow
# keras
# tensorflow-datasets

ipywidgets
jupyter
tqdm
scikit-learn

nltk

# tf2onnx
# onnxruntime-gpu
# onnxruntime-directml